.parent{
  display: flex;
  flex-direction:row;
  justify-content:flex-end;
}
.childOne{
  width: 30%;
  padding: 2%;
  border:1px solid #ddd;
  box-shadow: 3px 3px 3px grey;
  border-radius: 20px;
  background-color: gray;
  margin: 2%;
}
.childTwo{
  width: 30%;
  padding: 2%;
  border:1px solid #ddd;
  box-shadow: 3px 3px 3px pink;
  border-radius: 20px;
  background-color: tomato;
  margin: 2%;
}
.image{
  width: 100%;
  padding: 2%;
  margin: 2%;
  border:1px solid #ddd;
}

img{
  display:block;
  margin-right:auto;
  margin-left:auto;
}
/* for small screen*/
@media only screen and (min-width:1025px) and (max-width:1550px)
{
  .parent{
    display: flex;
    flex-direction:column;
    justify-content:center;
    background-color: pink;
    text-align:center;
  }
  h1{
    text-align: center;
    background-color: slateblue;
  }
  .childOne{
    width: 100%;
    padding: 4%;
    border:1px solid #ddd;
    box-shadow:3px 3px 3px #ddd;
    border-radius: 20px;
    margin: 2%;
  }
  .childTwo{
    width: 100%;
    padding: 4%;
    border:1px solid #ddd;
    margin: 2%;
  }
}
